apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "affine.configmapName" . }}
  labels:
    {{- include "affine.labels" . | nindent 4 }}
data:
  NODE_ENV: "production"
  AFFINE_SERVER_PORT: "3010"
  {{- if .Values.affine.serverHost }}
  AFFINE_SERVER_HOST: {{ .Values.affine.serverHost | quote }}
  {{- end }}
  {{- if .Values.affine.serverHttps }}
  AFFINE_SERVER_HTTPS: "true"
  {{- end }}
  {{- if .Values.affine.redisDatabase }}
  REDIS_SERVER_DATABASE: {{ .Values.affine.redisDatabase | quote }}
  {{- end }}
  {{- if .Values.mailer.host }}
  MAILER_HOST: {{ .Values.mailer.host | quote }}
  {{- end }}
  {{- if .Values.mailer.port }}
  MAILER_PORT: {{ .Values.mailer.port | quote }}
  {{- end }}
  {{- if .Values.mailer.user }}
  MAILER_USER: {{ .Values.mailer.user | quote }}
  {{- end }}
  {{- if .Values.mailer.sender }}
  MAILER_SENDER: {{ .Values.mailer.sender | quote }}
  {{- end }}
  {{- if .Values.mailer.ignoreTls }}
  MAILER_IGNORE_TLS: "true"
  {{- end }}
